01_automatic_flow.json
[
    {
        "id": "75dcafb60e64267e",
        "type": "tab",
        "label": "Tesla charge control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "91b1bdcc079faea6",
        "type": "debug",
        "z": "75dcafb60e64267e",
        "name": "start charging",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 100,
        "wires": []
    },
    {
        "id": "86d3fa477572e167",
        "type": "debug",
        "z": "75dcafb60e64267e",
        "name": "charging power",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 160,
        "wires": []
    },
    {
        "id": "3368ca5f185aab0a",
        "type": "debug",
        "z": "75dcafb60e64267e",
        "name": "stop charging",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 40,
        "wires": []
    },
    {
        "id": "e19522f4f980e6d0",
        "type": "function",
        "z": "75dcafb60e64267e",
        "name": "actual_logic",
        "func": "context.data = context.data || {};\n\nphases                 = msg.payload.phases ;\nmin_ampere            = msg.payload.min_ampere;\nmax_ampere          = msg.payload.max_ampere;\nbuffer               = msg.payload.buffer ;    \nstart_stop_cooldown = msg.payload.start_stop_cooldown; \n\nnew_ampvalue = msg.payload.last_ampvalue \n\nif(context.data.last_start_stop == null)\n    context.data.last_start_stop = 0\n\nstart_stop_diff = new Date() - context.data.last_start_stop \n\nret = [null, //stop charging\n       null, //start charging\n       null, //set ampere\n       null //last ampere\n       ];\n\n\nswitch(msg.payload.allow_autocharge)\n{\n    case false:\n        should_charge = false;\n        break;\n \n    case true: \n        // calculate available solar power and possible ampere value to charge\n        available_power = (msg.payload.current_pv_production - msg.payload.current_power_consumption) \n                        +(msg.payload.twc3.currentA_a*msg.payload.twc3.voltageA_v) \n                        +(msg.payload.twc3.currentB_a*msg.payload.twc3.voltageB_v) \n                        +(msg.payload.twc3.currentC_a*msg.payload.twc3.voltageC_v)       \n                        -buffer // to ensure that charging is done almost exclusively with solar energy\n\n        possible_pv_ampere = available_power/(230*phases) | 0\n\n        // 1\n        if (msg.payload.tesla_soc >= msg.payload.max_charge_level ) {\n            should_charge = false;\n        }\n\n        // 2\n        if (msg.payload.tesla_soc < msg.payload.min_charge_level_16A) {\n            new_ampvalue = 16\n            should_charge = true;\n        } \n\n        // 3\n        if (msg.payload.tesla_soc >= msg.payload.min_charge_level_16A && msg.payload.tesla_soc < msg.payload.min_charge_level_pv ) {\n                new_ampvalue = possible_pv_ampere\n                should_charge = true\n                if( possible_pv_ampere < min_ampere ) {\n                    new_ampvalue = min_ampere\n                }\n        }\n\n        // 4\n        // -> charge with PV surplus (set ampere in car dynamically).\n        // -> stop charging as soon as there is not enough solar power left for at least $min_ampere OR MaxChargeLevel has been reached.\n        if (msg.payload.tesla_soc >= msg.payload.min_charge_level_pv && msg.payload.tesla_soc < msg.payload.max_charge_level ) {\n                new_ampvalue = possible_pv_ampere\n                should_charge = true\n                if( possible_pv_ampere < min_ampere ) {\n                    should_charge = false\n                }\n        }\n        break;\n}\n\n// choose and send messages\n// car is already charging, but not supposed to be charged -> stop charging process\nif (!should_charge && msg.payload.tesla_is_charging && start_stop_diff > start_stop_cooldown) {  \n    ret[0] = {payload:\"no\", topic:\"should_charge\"}\n    context.data.last_start_stop = new Date()\n}\n\n// car should be charged, but charging process is not running yet -> start charging process\nif (should_charge && !msg.payload.tesla_is_charging && start_stop_diff > start_stop_cooldown) { \n    ret[1] = {payload:\"yes\", topic:\"should_charge\"}\n    context.data.last_start_stop = new Date()\n}\n\nif( new_ampvalue > max_ampere)\n    new_ampvalue = max_ampere\n\n// car should be charged and ampvalue differs from previous one -> send new ampvalue\n// send ampvalues < 5 twice to ensure that unofficially supported values will be set\nif( should_charge && new_ampvalue != msg.payload.last_ampvalue && new_ampvalue > 0)\n    if(new_ampvalue < 5) \n        ret[2] =[ {\"commandArgs\":{amps:new_ampvalue} }, {\"commandArgs\":{amps:new_ampvalue} }]\n    else\n        ret[2] = {\"commandArgs\":{amps:new_ampvalue} }\n        ret[3] = {payload:new_ampvalue, topic:\"last_ampvalue\"}\nreturn ret;",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 100,
        "wires": [
            [
                "9076c6c3608f4c5d"
            ],
            [
                "45d76b2bdac07004"
            ],
            [
                "c8d095bfbfd9948b"
            ],
            [
                "f30665f458516a2b"
            ]
        ]
    },
    {
        "id": "708135c76906a1f7",
        "type": "http request",
        "z": "75dcafb60e64267e",
        "name": "check_TWC3",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.2.91/api/1/vitals",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 280,
        "y": 360,
        "wires": [
            [
                "003e11925b97715b"
            ]
        ],
        "info": "Query on the Tesla Wall Connector whether the charging cable is connected to the car"
    },
    {
        "id": "050cb8594ddc0940",
        "type": "inject",
        "z": "75dcafb60e64267e",
        "name": "check_TWC3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "TWC3",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "708135c76906a1f7"
            ]
        ]
    },
    {
        "id": "003e11925b97715b",
        "type": "json",
        "z": "75dcafb60e64267e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "f30665f458516a2b",
                "c27a814d15ad34a2"
            ]
        ]
    },
    {
        "id": "f30665f458516a2b",
        "type": "function",
        "z": "75dcafb60e64267e",
        "name": "input_validation",
        "func": "context.data = context.data || {};\n\nswitch(msg.topic)\n{\n    case \"TWC3\":\n        context.data.twc3 = msg.payload\n        break;\n    case \"min_charge_level_16A\":\n        context.data.min_charge_level_16A = msg.payload\n        break;\n    case \"min_charge_level_pv\":\n        context.data.min_charge_level_pv = msg.payload\n        break;\n    case \"max_charge_level\":\n        context.data.max_charge_level = msg.payload\n        break;\n    case \"activate_charge_control\":\n        context.data.activate_charge_control = msg.payload\n        break;\n    case \"allow_autocharge\":\n        context.data.allow_autocharge = msg.payload\n        break;\n    case \"Energiemonitor\":\n        context.data.current_pv_production = Number(msg.payload) *1000\n        break;\n    case \"1.0 Gesamtstrom\":\n        context.data.current_power_consumption = Number(msg.payload)\n        break;\n    case \"last_ampvalue\":\n        context.data.last_ampvalue = msg.payload\n        break;\n    case \"teslamate/cars/1/plugged_in\":\n        context.data.tesla_plugged_in = msg.payload == \"true\"\n        break;\n    case \"teslamate/cars/1/usable_battery_level\":\n        context.data.tesla_soc = Number(msg.payload)\n        break;\n    case \"teslamate/cars/1/charge_limit_soc\":\n        context.data.tesla_charge_limit_soc = Number(msg.payload)\n        break;\n    case \"teslamate/cars/1/geofence\":\n        context.data.tesla_geofence = msg.payload\n        break;\n    case \"teslamate/cars/1/charger_power\":\n        context.data.tesla_is_charging = Number(msg.payload) > 0\n        break;\n    case \"phases\":\n        context.data.phases = msg.payload\n        break;\n    case \"min_ampere\":\n        context.data.min_ampere = msg.payload\n        break;\n    case \"max_ampere\":\n        context.data.max_ampere = msg.payload\n        break;\n    case \"buffer\":\n        context.data.buffer = msg.payload\n        break;\n    case \"start_stop_cooldown\":\n        context.data.start_stop_cooldown = msg.payload\n        break;\n}\n\n\n//check if data is filled\nif ( context.data.tesla_plugged_in == null\n|| context.data.tesla_soc == null\n|| context.data.tesla_charge_limit_soc == null\n|| context.data.tesla_geofence == null\n|| context.data.twc3 == null\n|| context.data.current_pv_production == null\n|| context.data.current_power_consumption == null\n|| context.data.tesla_is_charging == null\n|| context.data.min_charge_level_16A == null\n|| context.data.min_charge_level_pv == null\n|| context.data.max_charge_level == null\n|| context.data.activate_charge_control == null\n|| context.data.allow_autocharge == null\n|| context.data.phases == null\n|| context.data.min_ampere == null\n|| context.data.max_ampere == null\n|| context.data.buffer == null\n|| context.data.start_stop_cooldown == null\n)\nreturn null\n\nif(context.data.last_ampvalue == null)\n    context.data.last_ampvalue = -1\n    \n//check if the logic is disabled -> stop here\nif (!context.data.activate_charge_control)   \n    return null\n\n//don't do anything if the tesla is not at home or not plugged in (as reported by Teslamate)\nif ( context.data.tesla_geofence != \"Zuhause\" || !context.data.tesla_plugged_in)\n    return null\n\n// soc is higher than the charging limit -> the car won't do anything, so stop here\nif ( context.data.tesla_soc >= context.data.tesla_charge_limit_soc)\n    return null\n\n//make sure to be connected with the TWC3 wall charger\nif ( !context.data.twc3.vehicle_connected)\n    return null\n\nreturn {payload:context.data, topic:\"input_checked\"}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 240,
        "wires": [
            [
                "e9faf632843f0a3d",
                "c599cac7ef1b739b"
            ]
        ]
    },
    {
        "id": "c27a814d15ad34a2",
        "type": "debug",
        "z": "75dcafb60e64267e",
        "name": "twc3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "e9faf632843f0a3d",
        "type": "debug",
        "z": "75dcafb60e64267e",
        "name": "input_validation",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "c599cac7ef1b739b",
        "type": "throttle",
        "z": "75dcafb60e64267e",
        "name": "",
        "throttleType": "time",
        "timeLimit": "15",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 680,
        "y": 100,
        "wires": [
            [
                "e19522f4f980e6d0"
            ]
        ]
    },
    {
        "id": "15a4243cf5042367",
        "type": "loxone-control-in",
        "z": "75dcafb60e64267e",
        "name": "solar_feed_to_grid",
        "miniserver": "",
        "control": "143b3ac4-0054-1039-ffffcce15125b0a9",
        "state": "143b3ac4-0054-102e-ffff6970aa7f25b2",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "9421c230d1ca0263"
            ]
        ],
        "outputLabels": [
            "solar_feed_to_grid"
        ]
    },
    {
        "id": "9421c230d1ca0263",
        "type": "debug",
        "z": "75dcafb60e64267e",
        "name": "feed_to_grid",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "2145eaa80e28a81d",
        "type": "mqtt in",
        "z": "75dcafb60e64267e",
        "name": "",
        "topic": "teslamate/cars/1/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "7419a22b40153814",
                "f30665f458516a2b"
            ]
        ]
    },
    {
        "id": "7419a22b40153814",
        "type": "debug",
        "z": "75dcafb60e64267e",
        "name": "teslamate_all",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 300,
        "wires": []
    },
    {
        "id": "c8d095bfbfd9948b",
        "type": "tesla-api",
        "z": "75dcafb60e64267e",
        "teslaConfig": "",
        "command": "setChargingAmps",
        "name": "setChargingAmps",
        "vehicleID": "<yourVIN>",
        "autoWakeUp": true,
        "x": 1090,
        "y": 160,
        "wires": [
            [
                "86d3fa477572e167"
            ]
        ]
    },
    {
        "id": "45d76b2bdac07004",
        "type": "tesla-api",
        "z": "75dcafb60e64267e",
        "teslaConfig": "",
        "command": "startCharge",
        "name": "startCharge",
        "vehicleID": "<yourVIN>",
        "autoWakeUp": true,
        "x": 1070,
        "y": 100,
        "wires": [
            [
                "91b1bdcc079faea6"
            ]
        ]
    },
    {
        "id": "9076c6c3608f4c5d",
        "type": "tesla-api",
        "z": "75dcafb60e64267e",
        "teslaConfig": "",
        "command": "stopCharge",
        "name": "stopCharge",
        "vehicleID": "<yourVIN>",
        "autoWakeUp": false,
        "x": 1070,
        "y": 40,
        "wires": [
            [
                "3368ca5f185aab0a"
            ]
        ]
    },
    {
        "id": "e97b8c8994a03a8d",
        "type": "loxone-control-in",
        "z": "75dcafb60e64267e",
        "name": "current_power_consumption",
        "miniserver": "",
        "control": "143b35fa-0164-fd97-ffffcce15125b0a9",
        "state": "143b35fa-0164-fd8c-ffffae1b59fd2db7",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "f30665f458516a2b",
                "4a2648f6d6e86d80"
            ]
        ]
    },
    {
        "id": "78c75b93b7f78a99",
        "type": "loxone-control-in",
        "z": "75dcafb60e64267e",
        "name": "current_pv_production",
        "miniserver": "",
        "control": "1570bf82-011d-afca-ffffcce15125b0a9",
        "state": "1570bf82-011d-afac-ffff4e1403e5e3e7",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "f30665f458516a2b",
                "525993f72e1a12b3"
            ]
        ]
    },
    {
        "id": "4a2648f6d6e86d80",
        "type": "debug",
        "z": "75dcafb60e64267e",
        "name": "current_power_consumption",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "525993f72e1a12b3",
        "type": "debug",
        "z": "75dcafb60e64267e",
        "name": "current_pv_production",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "104077f0bb728441",
        "type": "ui_slider",
        "z": "75dcafb60e64267e",
        "name": "min_charge_level_16A",
        "label": "MinChargeLevel16A",
        "tooltip": "",
        "group": "7e9f2855f9f81e8f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "min_charge_level_16A",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 820,
        "y": 420,
        "wires": [
            [
                "f30665f458516a2b"
            ]
        ]
    },
    {
        "id": "84d3ef71c0550ffe",
        "type": "ui_slider",
        "z": "75dcafb60e64267e",
        "name": "min_charge_level_pv",
        "label": "MinChargeLevelPV",
        "tooltip": "",
        "group": "7e9f2855f9f81e8f",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "min_charge_level_pv",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 820,
        "y": 480,
        "wires": [
            [
                "f30665f458516a2b"
            ]
        ]
    },
    {
        "id": "b7b5eab66c500e47",
        "type": "ui_slider",
        "z": "75dcafb60e64267e",
        "name": "max_charge_level",
        "label": "MaxChargeLevel",
        "tooltip": "",
        "group": "7e9f2855f9f81e8f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "max_charge_level",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 810,
        "y": 540,
        "wires": [
            [
                "f30665f458516a2b"
            ]
        ]
    },
    {
        "id": "7266163f19cc5e2e",
        "type": "inject",
        "z": "75dcafb60e64267e",
        "name": "START",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0,1",
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 320,
        "y": 540,
        "wires": [
            [
                "7d06590027317eac"
            ]
        ]
    },
    {
        "id": "a2d44b88e0e0a85b",
        "type": "ui_switch",
        "z": "75dcafb60e64267e",
        "name": "allow_autocharge",
        "label": "Allow charging process",
        "tooltip": "",
        "group": "7e9f2855f9f81e8f",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "allow_autocharge",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 810,
        "y": 600,
        "wires": [
            [
                "f30665f458516a2b"
            ]
        ],
        "info": "Button to start the whole charging process."
    },
    {
        "id": "2359a74c729a1661",
        "type": "ui_switch",
        "z": "75dcafb60e64267e",
        "name": "activate_charge_control",
        "label": "Activate automatic charge control",
        "tooltip": "",
        "group": "7e9f2855f9f81e8f",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "activate_charge_control",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 830,
        "y": 660,
        "wires": [
            [
                "f30665f458516a2b"
            ]
        ],
        "info": "Button to start the whole charging process."
    },
    {
        "id": "7d06590027317eac",
        "type": "function",
        "z": "75dcafb60e64267e",
        "name": "default_values",
        "func": "const constants = {\nmin_charge_level_16A : 10, // charge with full power (but not more than max_ampere) until battery level reaches x% \nmin_charge_level_pv : 85, // charge mostly with solar power, but at least with min_ampere till battery level x%\nmax_charge_level : 85, // stop charge process at battery level x%\nactivate_charge_control : true, // activate/deactivate the charge controller\nallow_autocharge : true, // allow charge processes\nphases : 3, // how many phases does the wall connector have?\nmin_ampere : 2, // don't charge below this\nmax_ampere : 16, // don't charge above this\nbuffer : 300, // value to decrease available power (watt)\nstart_stop_cooldown : 5*60*1000 // start/stop requests shouldn't be sent to quickly\n}\n\nmsg.constants = { payload:constants,topic:\"constants\" }\nmsg.min_charge_level_16A = {payload: constants.min_charge_level_16A, topic:\"min_charge_level_16A\" };\nmsg.min_charge_level_pv = { payload: constants.min_charge_level_pv, topic:\"min_charge_level_pv\" };\nmsg.max_charge_level = { payload: constants.max_charge_level, topic:\"max_charge_level\" };\nmsg.activate_charge_control = { payload: constants.activate_charge_control, topic:\"activate_charge_control\" };\nmsg.allow_autocharge = { payload: constants.allow_autocharge, topic:\"allow_autocharge\" };\nmsg.phases = { payload: constants.phases, topic:\"phases\" };\nmsg.min_ampere = { payload: constants.min_ampere, topic:\"min_ampere\" };\nmsg.max_ampere = { payload: constants.max_ampere, topic:\"max_ampere\" };\nmsg.buffer = { payload: constants.buffer, topic:\"buffer\" };\nmsg.start_stop_cooldown = { payload: constants.start_stop_cooldown, topic:\"start_stop_cooldown\" };\n\n// send messages to outputs 1,2,3,...\nreturn [ msg.constants, msg.min_charge_level_16A, msg.min_charge_level_pv, msg.max_charge_level, msg.allow_autocharge, msg.activate_charge_control, msg.phases, msg.min_ampere, msg.buffer, msg.start_stop_cooldown, msg.max_ampere ];",
        "outputs": 11,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 540,
        "wires": [
            [],
            [
                "104077f0bb728441",
                "f30665f458516a2b"
            ],
            [
                "84d3ef71c0550ffe",
                "f30665f458516a2b"
            ],
            [
                "b7b5eab66c500e47",
                "f30665f458516a2b"
            ],
            [
                "a2d44b88e0e0a85b",
                "f30665f458516a2b"
            ],
            [
                "2359a74c729a1661",
                "f30665f458516a2b"
            ],
            [
                "f30665f458516a2b"
            ],
            [
                "f30665f458516a2b",
                "4822610221f48401"
            ],
            [
                "f30665f458516a2b"
            ],
            [
                "f30665f458516a2b"
            ],
            [
                "4bd5e370b7691073",
                "f30665f458516a2b"
            ]
        ],
        "outputLabels": [
            "constants",
            "min_charge_level_16A",
            "min_charge_level_pv",
            "max_charge_level",
            "activate_charge_control",
            "allow_autocharge",
            "phases",
            "min_ampere",
            "buffer",
            "start_stop_cooldown",
            "max_ampere"
        ]
    },
    {
        "id": "4822610221f48401",
        "type": "ui_slider",
        "z": "75dcafb60e64267e",
        "name": "min_ampere",
        "label": "MinAmpere",
        "tooltip": "",
        "group": "7e9f2855f9f81e8f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "min_ampere",
        "topicType": "str",
        "min": 0,
        "max": "16",
        "step": "1",
        "className": "",
        "x": 790,
        "y": 720,
        "wires": [
            [
                "f30665f458516a2b"
            ]
        ]
    },
    {
        "id": "4bd5e370b7691073",
        "type": "ui_slider",
        "z": "75dcafb60e64267e",
        "name": "max_ampere",
        "label": "MaxAmpere",
        "tooltip": "",
        "group": "7e9f2855f9f81e8f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "max_ampere",
        "topicType": "str",
        "min": 0,
        "max": "16",
        "step": "1",
        "className": "",
        "x": 790,
        "y": 780,
        "wires": [
            [
                "f30665f458516a2b"
            ]
        ]
    },
    {
        "id": "7e9f2855f9f81e8f",
        "type": "ui_group",
        "name": "Fahrzeugsteuerung",
        "tab": "9f153baa.1ccb88",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9f153baa.1ccb88",
        "type": "ui_tab",
        "name": "Tesla",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]
